*.pyc
.vscode
.idea
__pycache__/
.db.*

.tox
.ruff_cache
.coverage
.coverage.*
.xmlcoverage/
htmlcov/

# Packages
*.egg
*.egg-info
dist/
build/

# Ansible inventory
ansible/group_vars/**
ansible/inventory/**