*.pyc
*.mo
.vscode
.idea
__pycache__/
.db.*

.tox
.env
.ruff_cache
.coverage
.coverage.*
.xmlcoverage/
htmlcov/
log/

# Packages
*.egg
*.egg-info
dist/
build/

# Ansible inventory
ansible/group_vars/**
ansible/inventory/**