from NFTorrent.blockchain.models import PetMemoryNftContent, PetsCollectionInfo
from NFTorrent.modelsbase import CollectionConfig, CollectionInstance

config = CollectionConfig(
    collection_info_class=PetsCollectionInfo,
    nft_content_class=PetMemoryNftContent,
    collections=[
{% for param in nftorrent.collections %}
        CollectionInstance(
            address="{{ param.address }}",
            image="{{ param.image }}",
            meta={{ dict(param.meta) }},
        ),
{% endfor %}
    ]
)

__all__ = ['config']
